@model IEnumerable<MyStory.Models.Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/Prettify/Themes/sons-of-obsidian.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.masonry.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {

        $('#home-nav').addClass('active');

        $('#masonry-container').masonry({
            itemSelector: '.masonrybox',
            columnWidth: 240,
            isAnimated: true
        });

        $('pre').addClass('prettyprint linenums');
        prettyPrint();
    });
</script>
@if (ViewBag.NumberOfAccounts == 0)
{
    <div class="hero-unit">
        <h2>
            No Account and Blog created yet.</h2>
        <p>
            To create account and blog</p>
        <p>
            <a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-large"><i
                class="icon-ok icon-white"></i>Click Here</a></p>
    </div>
}

@* view with Masonry *@
<div id="masonry-container">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
        <div class="masonrybox shadow">
            <h3>
                @Html.ActionLink(item.Title, "Detail", "Post")</h3>
            <p>
                @Html.Raw(item.Content)</p>
            <p>
                @Html.ActionLink("edit", "Edit", "Post", new { id = item.Id }, null) |
                @Html.ActionLink("delete", "Delete", "Post", new { id = item.Id }, null)
            </p>
            @*<p>
                @foreach (var comment in item.Comments)
                {
                    @comment.ContentWithoutHtml<br />
                }
            </p>*@
        </div>
        }
    }
</div>
@* view with Bootstrap Thumbnail *@ @*<ul class="thumbnails">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
        <li class="span3">            
            <div class="thumbnail shadow">
            <p>
                @Html.ActionLink(item.Title, "Detail")
            </p>
            <p>
                @Html.Raw(item.Content)
            </p>
            <p>
                @Html.ActionLink("Edit", "Edit", "Post", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Post", new { id = item.Id }, null)
            </p>
            </div>
        </li>
        }
    }
</ul>*@ 