@model IEnumerable<MyStory.ViewModels.PostListViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    @Html.Partial("~/Views/Post/PostsListStylePartial.cshtml")
}

<div class="page-header">
  <h1><small>Tagged by</small> "@ViewBag.TagText"</h1>
</div>


@Html.Partial("~/Views/Post/PostListSummaryViewPartial.cshtml", Model, new ViewDataDictionary{{"url", "/tag/index"}} )
@Html.Partial("~/Views/Post/DeletePostPopupPartial.cshtml")

@section Script{
    <script type="text/javascript">
        $(function () {
            $('#home-nav').addClass('active');

            // remove container box 
            $('#main-body').removeClass('well');
            $('#main-body').removeClass('shadow');

        });
    </script>
    
    @Html.Partial("~/Views/Post/PostsListSummaryViewScriptPartial.cshtml")
}
