@model MyStory.ViewModels.PostCommentsViewModel
@{
    Layout = null;
}
<table class="table">
    <thead>
        <tr>
            <th colspan="2">
                Comments
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var comment in Model.Comments)
    {
        <tr>
            <td>@Html.GetGravatarHtml(comment.CommenterEmail)</td>
            <td style="width:100%">
                <p>
                    <a name="@comment.Id">
                        @if(!string.IsNullOrWhiteSpace(comment.CommenterUrl)){
                        <a href="@Url.ConvertToAbsoluteUrl(comment.CommenterUrl)">@comment.CommenterName</a>
                        }else{
                            @comment.CommenterName
                        } at <em>@comment.DateCreated</em>
                    </a>
                </p>
                @comment.Content
            </td>
        </tr>
    }
    </tbody>
</table>


