@model MyStory.ViewModels.PostDetailViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/Prettify/Themes/sons-of-obsidian.css")" rel="stylesheet" type="text/css" />
<p>
    <h2 class="article-title">@Html.DisplayFor(model => model.Title)</h2>
</p>
<div>
    @Html.Raw(Model.Content)
</div>
<div style="margin-top: 30px">
    <p>
        <i class="icon-share"></i> <b>Share with</b> @LinkShare.GetHtml(Model.Title, linkSites: new LinkShareSite[] { LinkShareSite.Twitter, LinkShareSite.Facebook, LinkShareSite.Digg, LinkShareSite.GoogleBuzz, LinkShareSite.Reddit, LinkShareSite.StumbleUpon })
    </p>
    <p>
        <i class="icon-time"></i> <b>Posted at @Html.DisplayFor(model => model.DateCreated)</b>
    </p>
    <div>
        @if (Model.Tags != null && Model.Tags.Count() > 0)
        {
            <i class="icon-tags"></i>
        }
        @foreach (var item in Model.Tags)
        {
            <a href="@Url.Action("Index", "Tag", new { TagText = @item })" class="btn btn-info btn-mini">@item</a>
        }
    </div>
    <div class="btn-group" style="margin-top: 10px; margin-bottom: 10px">
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Edit", "Edit", "Post", new { id = Model.Id }, new { @class = "btn" })
            <a  class="btn" data-toggle="modal" href="#modal-delete-post" onclick="openModal('@Model.Id');" >
                Delete</a>
            @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn" })
        }
    </div>
    @{
        Facebook.Initialize(ViewBag.FaceBookAppId, ViewBag.FaceBookAppSecret);
    }
    @Facebook.GetInitializationScripts()
    @Facebook.Comments()
</div>
@Html.Partial("DeletePostPopup")
@section Script
{
    <script type="text/javascript">
        $(function () {
            // remove container box 
            $('#main-body').removeClass('well');
            $('#main-body').removeClass('shadow');

            $('pre').addClass('prettyprint linenums');
            prettyPrint();

            $('#delete-confirm').click(function () {
                $.ajax({
                    cache: false,
                    type: "POST",
                    async: false,
                    url: "/Post/Delete/" + selectedPostIdToDelete,
                    contentType: "application/json",
                    dataType: "json",
                    success: function (result) {
                        location.href = "/Home/Index";
                    },
                    error: function (request, status, error) {
                        alert(error);
                    }
                });
            });
        });

        var selectedPostIdToDelete;

        function openModal(postId) {
            this.selectedPostIdToDelete = postId;
        }
    </script>
}
