@model MyStory.ViewModels.PostDetailViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/Prettify/Themes/sons-of-obsidian.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $('pre').addClass('prettyprint linenums');
        prettyPrint();
    });
</script>
<h2 class="article-title">@Html.DisplayFor(model => model.Title)</h2>
<div>
    @Html.Raw(Model.Content)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", "Home")
</p>
