@model MyStory.ViewModels.CurrentUserViewModel
@{
    Layout = null;
}
<div class="well sidebar-nav shadow" style="padding-top: 0px; padding-bottom: 2px">
    @if (Model != null)
    {
        if (Model.IsGravatarUse)
        {
        <p>
            <h3>@Model.Name</h3>
        </p>
        @Html.GetGravatarHtml(@Model.Email)
        }
        else
        {
        <p>
            <i class="icon-user"></i>@Model.Name</p>
        }            
        <p style="margin-top: 10px">@Model.Description</p>
    }
</div>
